<footer class="footer d-flex align-items-center">
	<div class="container text-right">
		Copyright © {{ currentDate | date: 'y' }} - All Rights Reserved |
		Source : <a href="https://www.quran.com/"
			class="font-primary">quran.com</a>
	</div>
</footer>
