<nav class="site-header sticky-top py-1">
	<div class="container d-flex flex-column flex-md-row">
		<a class="py-2 mr-4 pointer"
			(click)="navigateToHomepage()">
			<mat-icon aria-hidden="false"
				aria-label="Example home icon">home</mat-icon>
		</a>

		<mat-form-field class="input-classic input-no-hint my-auto w-25"
			floatLabel="never">
			<mat-select panelClass="selectPanelCustom"
				(selectionChange)="navigateToSurah($event)"
				placeholder="Pilih Surat"
				[formControl]="surahId">
				<mat-option>Pilih Surat</mat-option>
				<mat-option *ngFor="let surah of chapterData"
					class="my-1"
					[value]="surah.id">
					<p class="font-16px font-sbold mb-0">
						<label class="pr-2 mb-0">{{ surah.id }}.</label>
						{{ surah.nameSimple }}
					</p>
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</nav>
