.center {
	display: block !important;
	margin: auto auto !important;
}

.h-fit {
	height: fit-content !important;
}

.h-100vh {
	height: 100vh !important;
}

.overflow-auto {
	overflow: auto !important;
}

.overflow-xy {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.stretch-block {
	bottom: 0 !important;
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
}

.w-fit {
	width: fit-content !important;
}

.w-100vw {
	width: 100vw !important;
}

.w-35 {
	width: 35%;
}
